<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"]</title>

    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/simple-line-icons.css" rel="stylesheet">
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link href="/css/jquery.tagsinput.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">
    <link href="/css/fileinput.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="notransition">

    <!-- Header -->

    <div id="header">
        <div class="logo">
            <a href="/Dashboard">
                <span class="fa fa-tint marker"></span>
                <span class="logoText">Sayaç</span>
            </a>
        </div>
        <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
        <div class="headerUserWraper">
            <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span></a>
            <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
                <div class="userTop pull-left">
                    <span class="headerUserName">@User.Identity.Name</span> <span class="fa fa-angle-down"></span>
                </div>
                <div class="clearfix"></div>
            </a>
            <form asp-action="Logout" asp-controller="Home" method="post" id="logoutForm">
                <div class="dropdown-menu pull-right userMenu" role="menu">
                    <div class="mobAvatar">
                        <div class="mobAvatarName">@User.Identity.Name</div>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="icon-power"></span>Çıkış Yap</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Left Side Navigation -->

    <div id="leftSide">
        <nav class="leftNav scrollable">
            <ul>
                <li><a href="/Dashboard"><span class="navIcon icon-compass"></span><span class="navLabel">Dashboard</span></a></li>
                <li class="hasSub">
                    <a href="#"><span class="navIcon icon-user"></span><span class="navLabel">Muhtarlar</span><span class="fa fa-angle-left arrowRight"></span></a>
                    <ul class="colors">
                        <li><a asp-action="Create" asp-controller="Chief">Yeni Oluştur</a></li>
                        <li><a asp-action="Index" asp-controller="Chief">Tüm Muhtarlar</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="closeLeftSide"></div>

    <!-- Content -->

    <div id="wrapper" class="full">
        @RenderBody()
    </div>

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery-ui-touch-punch.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/jquery.visible.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
    <script src="/js/infobox.js"></script>
    <script src="/js/jquery.tagsinput.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/fileinput.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/custom.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>