@model List<CMS.Core.Domain.Chief>
@{
    ViewData["Title"] = "Sayaç | Tüm Muhtarlar";
}
<div id="mapView" class="min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
<div id="content" class="max">
    <div class="tables">
        <h4>Tüm Muhtarlar</h4>
        <div class="panel panel-default">
            <div class="panel-heading">Muhtar Bilgileri</div>
            <div class="panel-body">
                <table id="example" class="table tablesorter tablesorter-default">
                    <thead>
                        <tr>
                            <th>Kimlik Numarası</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Kullanıcı Adı</th>
                            <th>Şifre</th>
                            <th>Kayıt Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var chief in Model)
                        {
                            <tr>
                                <td>@chief.IdentificationNumber</td>
                                <td>@chief.Name</td>
                                <td>@chief.Surname</td>
                                <td>@chief.UserName</td>
                                <td>@chief.Password</td>
                                <td>@chief.CreatedDate.ToLongDateString()</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Kimlik Numarası</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Kullanıcı Adı</th>
                            <th>Şifre</th>
                            <th>Kayıt Tarihi</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@section Scripts {
    <script>$(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                "ordering": false
            });
        });</script>
}